@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');
:root{

--primary-color: #ad59d4;
--secondary-color: #f9a11b;

--mar-1: 2rem;
--mar-2: 1rem;
--mar-3: .5rem;

--lh-1: 25px;
}



/*. Reset  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

a:hover{
    color: var(--secondary-color);
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background: linear-gradient(0deg, rgba(230,200,241,1) 0%, rgba(255,255,255,1) 56%);
}

header svg{
    margin-bottom: -7px;
}

/*. Navigation */

nav{
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 5px rgba(143,143,143,0.3);
}

.nav-menu{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.nav-menu li{
    font-size: small;
    padding: .1em .6em;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 7px 1px rgba(173, 89, 212, 0.35);
    border-radius: 50px;
    list-style-type: none;

}

.nav-menu li:hover{
    box-shadow: 0px 0px 7px 1px rgba(249, 161,	27, 0.25);
}

.nav-menu li:hover a{
    color: var(--secondary-color);
}

.nav-button{
    display: none;
}

/*. Hero */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img{
    max-width: 822px;
    min-width: 400px;
}

.hero-article{
    max-width: 822px;   
    min-width: 400px;
    padding: 50px;
}

.hero-article h1{
    color: var(--primary-color);
    margin-bottom: var(--mar-1);
    text-transform: uppercase;
}

.hero-article p{
    margin-bottom: var(--mar-2);
    line-height: var(--lh-1);
}

/*. Features */

.features{
    margin: var(--mar-1);
}

.features h1{
    margin-bottom: var(--mar-1);
    text-align: center;
    color: var(--primary-color);
}

.features section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.features article{
    max-width: 822px;
    line-height: var(--lh-1);
    flex-basis: 65%;
}

.features h2{
    margin-bottom: var(--mar-2);
    color: var(--secondary-color);
}

.features p{
    margin-bottom: var(--mar-2);
}

.features img{
    margin: var(--mar-1);
    max-width: 822px;
    min-width: 0;
    flex-basis: 35%;
}

.features svg{
    margin: calc(-1*var(--mar-1));
}

/*. Aside */

.aside-title{
    color: var(--primary-color);
    text-align: center;
    margin-top: calc(5*var(--mar-1));
    margin-bottom: calc(2*var(--mar-1));
}

.aside-title h1{
    font-size: 2em;    
}

.aside-title h2{
    font-size: 1.8em;
}

/*. Contact */

.contact{
    margin-bottom: calc(2*var(--mar-1));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact h2{
    color: var(--secondary-color);
    text-align: center;
    flex-basis: 100%;
    margin-bottom: var(--mar-2);
}

/*. Social Media */

.social-media{
    width: 347px;
    aspect-ratio: 347/392;
    padding: 2em 1.3em;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: var(--mar-3);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.social-media h3{
    text-align: center;
}

.social-media a{
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.social-media .icon{
    font-size: var(--mar-1);
    margin-right: var(--mar-3);
}

/*. Contact Form */

.contact-form{
    max-width: 347px;
    aspect-ratio: 347/392;
    margin-left: var(--mar-3);
}

.contact-form h2{
    display: none;
}

.contact-form input{
    font-family: inherit; 
    font-size: inherit;
    width: 347px;
    height: 2.1rem;
    margin-bottom: var(--mar-3);
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.contact-form textarea{
    font-family: inherit;
    font-size: inherit;
    width: 347px;
    min-height: 8rem;
    max-height: fit-content;
    margin-bottom: var(--mar-3);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.contact-form button{
    width: 107px;
    height: 1.8rem;
    background-color: var(--primary-color);
    font-family: inherit;
    font-size: inherit;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

/*. About */

.about{
    width: 347px;
    margin: auto;
    position: relative;
}

.about h2{
    color: var(--secondary-color);
    margin-bottom: 100px;
    text-align: center;
}

.about img{
    width: 200px;
    border: 3px solid var(--primary-color);
    border-radius: 0 50%;
    position: absolute;
    left: -100px;
    top: 50px;
}

.biodata{
    width: 347px;
    aspect-ratio: 347/250;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgba(173, 89, 212, 2);
    border-radius: 20px;
}

.biodata .atas{
    margin-left: 100px;
    margin-bottom: var(--mar-2);
    line-height: 33px;
    font-weight: bold;
}

.biodata hr{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.biodata .bawah{
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.biodata p{
    flex-basis: 100%;
}

/*. Footer */

footer{
    width: 100%;
    margin-top: calc(5*var(--mar-1));
    padding: 2em;
    background-color: #eb9604;
    color: white;
    text-align: center;
}

@media screen and (max-width:992px) {

    /*. Nav Tablet */

    .nav-menu{
        width: 60%;
    }    
    
    /*. Hero Tablet */
    

    .hero{
        display:block;
    }
    
    .hero-img{
        margin-top: var(--mar-1);
        width: 400px;
        float: left;
    }    

    .hero:before,
    .hero:after {
        content: " ";
        display: table;
    }
    
    .hero:after {
        clear: left;
    }
    

    /*. Features Tablet */

    .features article{
        flex-basis: 50%;
    }

    .features img{
        flex-basis: 50%;
    }

}

@media screen and (max-width:600px) {

    /*. Nav Smartphone */

    .nav-menu li{
        display: none;
    }

    .nav-button{
        display: block;
        font-size: 1.7rem;
    }

    /*. Hero Smartphone */

    .hero{
        flex-direction: column;
        justify-content: center;
    }

    .hero-img{
        width: 100%;
        margin-top: var(--mar-1);
    }

    /*. Features Smartphone */

    .features section{
        flex-wrap: wrap;
    }

    .features article{
    flex-basis: 100%;
    order: 1;
    }

    .features img{
    flex-basis: 100%;
    order: 2;
    }

    /*. Contact Smartphone */

    .contact{
        width: 296px;
        margin: auto;
    }

    /*. Social Media Smartphone */

    .social-media{
        width: 100%;
        height: 392px;
    }
    
    .social-media a{
        flex-wrap: wrap;
        margin: 0;
    }

    .social-media i{
        flex-basis: 100%;
    }

    /*. Contact Form Smartphone */

    .contact-form{
        width: 296px;
        margin: auto;
    }

    .contact-form h2{
        margin-top: calc(2*var(--mar-1));
        display: block;
    }

    .contact-form input{
        width: 100%;
    }

    .contact-form textarea{
        width: 100%;    
    }

    
    /*. About Smartphone */
    
    .about{
        position: static;
        margin-top: calc(2*var(--mar-1));
    }
    
    .about h2{
        margin-bottom: var(--mar-1);
    }
    
    .biodata{
        width: 296px;
    }

    .biodata img{
        position: static;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    
    .biodata .atas{
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }
}
    